{
  "query": {
    "bool": {
      "must": [
        {
          "range": {
            "updatedAt": {
              "gte": "{{.startDate}}",
              "lte": "{{.endDate}}"
            }
          }
        },
        {
          "match": {
            "title": "{{.title}}"
          }
        },
        {
          "term": {
            "userId": {
              "value": "{{.userId}}"
            }
          }
        }
      ]
    }
  },
  "sort": [
    {
      "updatedAt": {
        "order": "desc"
      }
    }
  ],
  "from": {{.from}},
  "size": {{.size}}
}