{
  "query": {
    "bool": {
      "must": [
        {
          "multi_match": {
            "query": "{{.title}}",
            "fields": ["title","content"]
          }
        }
      ],
      "filter": {
        "term": {
          "title": "{{.te}}"
        }
      }
    }
  },
  "highlight": {
    "pre_tags": "<span style='color:#07b9ff'>",
    "post_tags": "</span>",
    "fields": {
      "content": {},
      "title": {}
    }
  },
  "sort": [
    {
      "views": {
        "order": "desc"
      }
    }
  ], 
  "from": {{.from}},
  "size": {{.size}}
}